* {
	margin: 0;
	padding: 5px;
	color: black;
}
html, body {
	height: 100%;
	background-color: #4D4DDB;
	letter-spacing: 1px;

}
h1 {
	font-size: 100px;
	text-shadow: 1px 1px 0 #FFFFFF, 2px 2px 0 #000000;
}
h3 {
	font-size: 50px;
	text-shadow: -1px 0 0 #FFFFFF, 1px 1px 0 #000000,
        2px -1px 0 #FFFFFF, 3px 0 0 #000000;
}
h6 {
	font-size: 15px;
	text-shadow: 1px 1px 0 #FFFFFF, 1px 1px 0 #000000;
}
p {
	font-size: 30px;
	text-shadow: -1px 0 0 #FFFFFF, 1px 1px 0 #000000,
    	2px -1px 0 #FFFFFF, 3px 0 0 #000000;
}
ul {
	padding-left: 30px;
}
.post_title {
	background-color: #F3EBFF;
	margin-bottom: 20px;
	text-align: center;
	border-radius: 50px;
	border: 3px solid black;
	margin-left: auto;
	margin-right: auto;
	width: 300px;
	display: block;
	box-shadow: 10px 10px 5px #000066;
}

.thing_one {
	background-color: #F3EBFF;
	margin-left: 300px;
	text-align: left;
	border-radius: 25px;
	border: 2px solid black;
	float: left;
	box-shadow: 10px 10px 5px #000066;
}
.thing_two {
	background-color: #F3EBFF;
	margin-bottom: 20px;
	text-align: left;
	border-radius: 50px;
	border: 2px solid black;
	margin-left: 700px;
	box-shadow: 10px 10px 5px #000066;
}

.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -4em;
}
.footer {
	background-color: #6666E0;
	border: 2px solid black;
}
.footer, .push {
	height: 4em;
	clear: both;
	margin-bottom: 5px;
	border-radius: 50px;
}